
@model DigiticketCMS.Models.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<!--begin::Head-->
<div class="kt-login__head">
    <span class="kt-login__signup-label">Bạn đã có tài khoản?</span>&nbsp;&nbsp;
    <a href="@Url.Action("Login", "Account", new { ReturnUrl = Model.ReturnUrl })" class="kt-link kt-login__signup-link">Đăng nhập!</a>
</div>
<!--end::Head-->
<!--begin::Body-->
<div class="kt-login__body">
    <!--begin::Signin-->
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h3>Đổi mật khẩu mới</h3>
        </div>
        <div class="alert alert-info" role="alert">Vui lòng nhập mã xác nhận đã được gửi tới @Model.UserName để đổi mật khẩu mới.</div>
        <!--begin::Form-->
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "kt-form ajax-form", @id = "kt_reset_password_form" }))
        {
            @Html.AntiForgeryToken()
            <div class="alert alert-warning dp-none" role="alert">
                <div class="alert-text"></div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="" name="Username" value="@Model.UserName" readonly autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control" id="Password" type="password" placeholder="Nhập mật khẩu mới" name="Password" required minlength="6" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Nhập lại mật khẩu mới" name="ConfirmPassword" required minlength="6" equalTo="#Password" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nhập mã xác nhận" name="Code" required autocomplete="off">
            </div>
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="kt-login__actions">
                <button id="kt_login_signin_submit" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary mx-auto">Xác nhận</button>
            </div>
        }
    </div>
    <!--end::Signin-->
</div>
<!--end::Body-->