@using DigiticketCMS.Models.Tags;
@using Infrastructure.Extensions;
@using DigiticketCMS.Config;
@using DigiticketCMS.Helpers;
@model ProductInfoToView
@using (Html.BeginForm("ProductAddOrUnHot", "Product", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "kt-form ajax-form",
    @id = "FormProductUpdateHot",
    spellcheck = false
}))
{
    <div class="modal-header">
        <h1 class="modal-title">
            <span>Thêm mới product hot</span>
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body contentUpdaTenant">
        <div>
            <label>Lọc theo danh mục:</label>
            <select class="cursor-pointer kt-select2-categories-modal form-control hightLight">
                <option value="null">Tất cả</option>
                @if (!Model.Categories.IsNullOrEmpty())
                {
                    foreach (var category in Model.Categories)
                    {
                        <optgroup label="@category.Name">
                            @if (!category.SubCategory.IsNullOrEmpty())
                            {
                                foreach (var subCategory in category.SubCategory)
                                {
                                    <option value="@subCategory.Id">@subCategory.Name</option>
                                }
                            }
                        </optgroup>
                    }
                }
            </select>
        </div>
        <div class="mt-4">
            <label>Lọc theo điểm đến:</label>
            <select class="kt-select2-destination-modal form-control cursor-pointer hightLight">
                <option value="null">Tất cả</option>
                @if (!Model.Destinations.IsNullOrEmpty())
                {
                    foreach (var destination in Model.Destinations)
                    {
                        <option value="@destination.Id">@destination.Name</option>
                    }
                }
            </select>
        </div>
        <div class="tags-element mt-4">
            <label for="">Chọn product (nhập 2 ký tự trở lên)</label><label class="text-red error ml-5" for="selectHot"></label>
            <select class="form-control select-productHot" name="selectHot" id="selectHot"></select>
        </div>
        <div class="mt-4">
            <label>Idx hot</label><label class="text-red error ml-5" for="idxHot"></label>
            <input class="form-control" type="number" min="0" name="idxHot" id="idxHot" />
        </div>
        <input type="hidden" name="id" id="productUpdateHotId" />
        <input type="hidden" name="isHot" value="true" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Hoàn tất</button>
    </div>
}
