@using Infrastructure.Extensions;
@using Infrastructure.Config;
@using Services.Models.Responses.Media;
@model List<MediaGetByRootResponse>
<h3>Danh sách ảnh resize</h3>

<table class="table table-striped">
    <tr>
        <th>FileName</th>
        <th>Kích thước resize</th>
        <th>Ngày upload</th>
        <th class="text-center">Xem ảnh</th>
    </tr>
    @if (Model != null && Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FileName
                </td>
                <td>
                    @((int)item.Width) x @((int)item.Height)
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td class="text-center">
                    <a href="@APIMediaConfig.APIMediaShowContentDefault/@item.Url" target="_blank"><i class="text-info flaticon-eye font-size-1e2"></i></a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <th class="text-center" colspan="4">Chưa có dữ liệu</th>
        </tr>
    }
</table>