@using DigiticketCMS.Models.Tags;
@using Infrastructure.Extensions;
@using Infrastructure.Config;
@using DigiticketCMS.Config;
@using DigiticketCMS.Helpers;
@model ProductInfoToView
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section customStyles{
    <link href="~/Content/css/product/product.css?v=@SystemVersion.VersionCSS" rel="stylesheet" />
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Danh sách sản phẩm
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                </div>
            </div>
            @* content table *@
            <div class="kt-portlet__body">
                <div class="dataTables_wrapper dt-bootstrap4 no-footer table-Product">
                    <div class="row headerTable pl-3">
                        <div class="col-sm-12 col-md-1 row col-lg-1 p-0">
                            <div class="col-12 col-sm-5">
                                <div class="dataTables_length">

                                </div>
                            </div>
                        </div>
                        @FilterHelper.ClearFilter()
                        @FilterHelper.FindName("col-sm-12 col-lg-3")
                        @FilterHelper.Category(Model.Categories)
                        @FilterHelper.destination(Model.Destinations)
                        @FilterHelper.Status()
                        @FilterHelper.Public()
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="html_table_Product">
                                <thead class="">
                                    <tr>
                                        <th class="sortable" data-field="name">Tên sản phẩm</th>
                                        <th class="sortable" data-field="DigipostName">Tên bảng giá Digipost</th>
                                        <th data-field="categoryName">Danh mục</th>
                                        <th data-field="Place">Điểm đến</th>
                                        <th data-field="supplierName">Nhà cung cấp</th>
                                        <th data-field="status">Trạng thái</th>
                                        <th class="sortable" data-field="Idx">Idx</th>
                                        <th data-field="isPublic">Public</th>
                                        <th data-field="Url">Xem</th>
                                        <th class="sortable" data-field="CreatedDate">Ngày tạo</th>
                                        <th class="sortable" data-field="createdByName">Người tạo</th>
                                        <th class="sortable cursor-default" data-field="lastEditedDate" data-toggle="tooltip" title="Ngày sửa gần nhất">Ngày SGN</th>
                                        <th class="sortable cursor-default" data-field="lastEditedByName" data-toggle="tooltip" title="Người sửa gần nhất">Ng SGN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="dataTables_info">

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled">
                                        <a href="javascript:void(0)" data-dt-idx="0" tabindex="0" class="page-link">
                                            <i class="la la-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="javascript:void(0)" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled">
                                        <a href="javascript:void(0)" data-dt-idx="2" tabindex="0" class="page-link">
                                            <i class="la la-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* end: content table *@
        </div>
        <!-- end:: Content -->
    </div>
</div>


@section customScripts{
    <script src="~/Content/js/common-pages/product/productGetByPage.js?v=@SystemVersion.VersionJS"></script>
    <script src="~/Content/js/app-code/filterHelper.js?v=@SystemVersion.VersionJS"></script>

    <script>
        var permission = {
            PublicProduct: '@User.CheckPermission(Permission.ProductPublicProduct)' === 'True' ? true : false
        }

        $(document).ready(() => {
            productGetByPage.init();
        })
    </script>
}